@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100vh;
  overflow: hidden;
  
  
}
main{
  scroll-behavior: smooth;
}
body{
  height: 100%;
  display: flex;
  overflow: hidden;
  /* background-color: #0E0E0E; */
}
#__next{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
}
/* .bg-front{
  background-position: 77% center;
  background-size: auto , cover;
} */
.overflow-bar {

  
  /*Firefox*/
  overflow: scroll;
  scrollbar-color: rgba(0,153,204, 0.05) transparent;
  scrollbar-width: thin;
  
  /*Webkit*/
  overflow: overlay;
  /*Experimental*/
  scrollbar-gutter: stable;
}
.overflow-bar:hover {
  scrollbar-color: rgba(0,153,204, 1) transparent;
}
@-moz-document url-prefix() {
  .overflow-bar {
   padding-right: 8px;
  }
}
/*Webkit*/
.overflow-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.overflow-bar::-webkit-scrollbar-track {
  background-color: transparent;
}
.overflow-bar::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 51%);

}
.overflow-bar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 51%);
}

.min-h-lm{
  height: calc(100vh - 56px);
}
.purple-bottom{
  width: 100%;
  max-width: 768px;
  margin-top: -30px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.img-service{
  width: 100%;
  max-width: 110px;
  margin: auto;
}

@media (min-width:768px) {
  html{
    font-size: 15px;
  }
  .min-h-auto-important{
    max-height: initial!important;
  }
  .min-h-lm{
    min-height: calc(100vh - 61px);
  }
  .bg-front{
    background-position: center;
    background-size: cover;
  }
}

.x{
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.snap{
  scroll-snap-align: center;
}

.items {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.items.active {
  background: red;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  background: skyblue;
  pointer-events: none;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em;
  }

  .splide__slide{
    grid-template-rows: 1fr auto;
      display: grid;
  }
/* splider

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
.splide__pagination__page {
  background: #fff!important;
  border: 0;
  color: #000!important;
  border-radius: 50%;
  display: inline-block;
  height: 50px!important;
  margin: 3px;
  opacity: 1!important;
  padding: 0;
  position: relative;
  transition: transform .2s linear;
  width: 50px!important;
  font-weight: 600;
  font-family: '__Montserrat_8135ef', '__Montserrat_Fallback_8135ef';
  font-size: 17px;
}
.splide__pagination__page.is-active {
  transform: scale(1)!important;
  background-color: #000!important;
  color: #ffffff!important;
  border-radius: 30px!important;
}
.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}
.splide__pagination {
  counter-reset: pagination-num;
  top: -106px;
  display: block!important;

}


.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}

.splide__track{
  padding-left: 25%!important;
  padding-right: 25%!important;
} */

.slide, .card{
  height: 100%;
  
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  padding: 27px 55px 40px 55px;
  border-radius: 15px;
  
}

.card-title{
  font-size: 1.6rem;
  
    font-weight: 700;
}

.ratio1-2:before {padding-top: 120%;}
.ratio1-1:before {
  content: "";
  padding-top: 100%;}
.ratio2-1:before {padding-top: 50%;}
.ratio4-3:before {padding-top: 75%;}
.ratio16-9:before {padding-top: 56.25%;}

@media (max-width:720px) {
  .card{
    padding: 37px 30px 50px 30px;
  }
  .card-title{
    line-height: 31px;
  }
}
@media (max-width:920px) {
  
  /* .splide__track{
    padding-left: 7%!important;
    padding-right: 7%!important;
  } */
}

.espejo{
  -moz-transform: scaleY(-1);
-o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
transform: scaleY(-1);
-ms-filter: "FlipV";
filter: FlipV;
-webkit-mask-image: linear-gradient(to bottom , transparent 70%, rgb(0 0 0 / 47%) 100%);
  mask-image: linear-gradient(to bottom , transparent 70%, rgba(255, 255, 255, 0.47) 100%);
  
}
.espejo2{
  -moz-transform: scaleY(-1);
-o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
transform: scaleY(-1);
-ms-filter: "FlipV";
filter: FlipV; 
}

.mascara{
  -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(0 0 0 / 21%) 100%);
  mask-image: linear-gradient(to top, transparent 10%, rgba(255, 255, 255, 0.21) 100%);
}

.reflejo{
  margin-top: 10px;
  width: 100%;
  height: 70px;
  display: block;
  background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.47) 100%);
  border-radius: 15px;
}
.reflejo2{
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: block;
  background-color: white;
  border-radius: 15px;
}

.reflejo3{
  margin-top: 10px;
  background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.47) 100%);
  border-radius: 15px;
}

/* transition group */


.page-enter {
  opacity: 0;
  /* transform: scale(1.1); */
}
.page-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  transition: opacity 500ms, transform 500ms;
}
.page-exit {
  opacity: 1;
  /* transform: scale(1); */
}

.page-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  transition: opacity 500ms, transform 500ms;
}

